.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
}

.page-item {
  padding: 10px;
  list-style: none;
  background-color: lightblue;
  border: 1px solid black;
}

.active {
  background-color: red;
  color: white;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 10px;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
