canvas {
  margin: 0 auto !important;
  height: 575px !important;
  width: 600px !important;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin: 50px; */
}

.coin-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.price-change-positive {
  color: green;
}

.price-change-negative {
  color: red;
}

.price-change-icon {
  position: relative;
  top: 3px;
  padding-right: 2px;
}

.chart-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
