.header > a {
  text-decoration: none;
  position: absolute;
  top: 5px;
  padding-left: 10px;
}

/* .header > a:visited {
  color: inherit;
} */

.search {
  display: flex;
  flex-direction: column;
}

.switchWrapper {
  display: flex;
  padding: 10px;
  align-items: center;
}

.themeIcon {
  padding: 0px 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;

  border-bottom: 1px solid #218838;
}

@media only screen and (max-width: 450px) {
  .header > a {
    font-size: 12px;
    position: absolute;
    top: 15px;
  }

  .themeIcon {
    height: 15px;
    width: 15px;
  }
}
