.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchInputs {
  display: flex;
}

.search input {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

/* input:focus {
  outline: none;
} */
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  margin-right: 45px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

/* a:hover {
  background-color: lightgrey;
} */

#clearBtn {
  cursor: pointer;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .search input {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 10px;
    padding: 15px;
    height: 1px;
    width: 150px;
  }

  .searchIcon svg {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
