.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 100px;
}
.searchInputs {
  display: flex;
}

.search input {
  border: 1px solid black;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 10px;
  width: 200px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  display: flex;
  align-items: center;
}

/* input:focus {
  outline: none;
} */
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  position: absolute;
  top: 50px;
  margin-right: 45px;
  width: 300px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  background-color: white;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataResultDark {
  margin-top: 5px;
  position: absolute;
  top: 50px;
  margin-right: 45px;
  width: 300px;
  height: 200px;
  border: 1px solid white;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 5px;
  overflow: hidden;
  overflow-y: auto;
  background-color: black;
}

.dataResultDark .dataItemDark {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

/* a:hover {
  background-color: lightgrey;
} */

#clearBtn {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .search {
    position: absolute;
    top: -7px;
    left: 100px;
    margin-top: 15px;
    margin-left: 100px;
  }

  .search input {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 10px;
    height: 1px;
    width: 70px;
  }

  .searchIcon svg {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .dataResultDark {
    margin-top: 5px;
    position: absolute;
    top: 50px;
    left: 50px;
    margin-right: 45px;
    width: 300px;
    height: 200px;
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
    background-color: black;
    z-index: 1;
  }

  .dataResult {
    margin-top: 5px;
    position: absolute;
    top: 50px;
    margin-right: 45px;
    width: 300px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    z-index: 1;
  }
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }

  .dataResultDark .dataItemDark {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
  }
}

@media only screen and (max-width: 428px) {
  .search {
    position: absolute;
    top: -7px;
    left: 65px;
    margin-top: 15px;
    margin-left: 100px;
  }
  .dataResultDark {
    margin-top: 5px;
    position: absolute;
    top: 50px;
    left: -100px;
    margin-right: 45px;
    width: 300px;
    height: 200px;
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
    background-color: black;
    z-index: 1;
  }

  .dataResultDark .dataItemDark {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
  }

  .dataResult {
    margin-top: 5px;
    position: absolute;
    top: 50px;
    margin-right: 45px;
    width: 300px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    z-index: 1;
  }

  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
}

@media only screen and (max-width: 320px) {
  .search {
    position: absolute;
    top: -7px;
    left: 10px;
    margin-top: 15px;
    margin-left: 100px;
  }
  .dataResultDark {
    margin-top: 5px;
    position: absolute;
    top: 50px;
    left: -100px;
    margin-right: 45px;
    width: 300px;
    height: 200px;
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
    background-color: black;
    z-index: 1;
  }

  .dataResultDark .dataItemDark {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
  }

  .dataResult {
    margin-top: 5px;
    position: absolute;
    top: 50px;
    margin-right: 45px;
    width: 300px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    z-index: 1;
  }

  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
}
